@mixin helpers {

  .flex {
    display: flex;
  }

  .v-center {
    @extend .flex;
    align-items: center;
  }

  .h-center {
    @extend .flex;
    justify-content: center;
  }


  .no-margin {
    margin: 0;
  }

  .light-font {
    font-weight: 100;
  }

  .text-center {
    text-align: center;
  }
}
