<h4 class="space-between v-center">
  Ngx TipTap
  <a class="github-icon" href="https://github.com/huiibuh/ngx-tiptap-editor" target="_blank">
    <img height="30" width="30" src="assets/github.svg" alt="github"/>
  </a>
</h4>

<hr>

<tip-editor [content]="editorContent" [extensions]="extensions" (jsonChange)="save($event)"
            [angularExtensions]="angularExtensions">
  <tip-editor-header>
    <!--  left  -->
    <tip-format-control></tip-format-control>
    <tip-control-text-align></tip-control-text-align>
    <tip-control-underline></tip-control-underline>
    <tip-control-italic></tip-control-italic>
    <tip-control-bold></tip-control-bold>
    <tip-util-vr></tip-util-vr>
    <tip-control-mention (createMention)="updateMention($event)" (mentionClicked)="log($event)"></tip-control-mention>
    <!--  right  -->
    <tip-util-spacer></tip-util-spacer>
    <tip-util-vr></tip-util-vr>
    <tip-bullet-list-control></tip-bullet-list-control>
    <tip-control-number-list></tip-control-number-list>
    <tip-control-task></tip-control-task>
    <tip-control-link></tip-control-link>

    <!--  new line  -->
    <tip-util-hr></tip-util-hr>
    <tip-control-strike></tip-control-strike>
    <tip-control-hr></tip-control-hr>
    <tip-util-vr></tip-util-vr>
    <tip-code-block-control></tip-code-block-control>
    <tip-control-code></tip-control-code>
    <tip-util-vr></tip-util-vr>
  </tip-editor-header>
  <tip-editor-body minHeight="30vh" maxHeight="60vh"></tip-editor-body>
</tip-editor>


{{log('cd run')}}
