<tip-editor (htmlChange)="html = $event">
  <tip-editor-header>
    <tip-heading-control></tip-heading-control>
    <tip-control-horizontal-divider></tip-control-horizontal-divider>
    <tip-italic-control></tip-italic-control>
    <tip-underline-control></tip-underline-control>
    <tip-bold-control></tip-bold-control>
    <tip-control-spacer></tip-control-spacer>
    <tip-bullet-list-control></tip-bullet-list-control>
    <tip-number-list-control></tip-number-list-control>
    <tip-control-vertical-divider></tip-control-vertical-divider>
    <tip-text-align-control></tip-text-align-control>
  </tip-editor-header>
  <tip-editor-body></tip-editor-body>
</tip-editor>
