<tip-editor>
  <tip-editor-header>
    <tip-format-control></tip-format-control>
    <tip-text-align-control></tip-text-align-control>
    <tip-underline-control></tip-underline-control>
    <tip-italic-control></tip-italic-control>
    <tip-bold-control></tip-bold-control>
    <tip-control-spacer></tip-control-spacer>
    <tip-bullet-list-control></tip-bullet-list-control>
    <tip-number-list-control></tip-number-list-control>
    <tip-link-control></tip-link-control>
  </tip-editor-header>
  <tip-editor-body></tip-editor-body>
</tip-editor>

{{log()}}

<tip-select placeholder="aölsdf">
  <tip-option value="hello">Hello</tip-option>
  <tip-option value="world">World</tip-option>
</tip-select>
