@mixin remove-focus-ring() {
  tip-editor, tip-editor-preview {
    *:-moz-focusring, * {
      outline: none;
    }

    * {
      outline: none;
    }
  }
}

@mixin helpers {
  $small: .5rem;

  .pointer {
    cursor: pointer;
  }

  .tip-button {
    border: solid 1px var(--tip-border-color);
    background-color: transparent;
    border-radius: 3px;
    cursor: pointer;
    color: var(--tip-text-color);

    &:hover, &:focus {
      color: var(--tip-active-color);
      outline: none;
    }
  }

  .tip-input {
    border: solid 1px var(--tip-border-color);
    background-color: var(--tip-background-color);
    border-radius: 2px;
    outline: none;

    &:focus {
      border-color: var(--tip-active-color);
    }
  }

  .small-padding-top {
    padding-top: $small;
  }

  .small-padding-bottom {
    padding-bottom: $small;
  }

  .flex {
    display: flex;
  }

  .v-center {
    @extend .flex;
    align-items: center;
  }

  .link-text {
    text-decoration: none;
    color: var(--tip-text-color);

    &:hover {
      text-decoration: underline;
    }
  }

  .h-center {
    @extend .flex;
    justify-content: center;
  }

  .align-right {
    @extend .flex;
    justify-content: flex-end;
  }

  .no-margin {
    margin: 0;
  }

  .light-font {
    font-weight: 100;
  }

  .text-center {
    text-align: center;
  }

  // Utilize the full height
  .ProseMirror {
    height: 100%;
  }
}

@mixin extension-styles() {
  .ProseMirror {
    @include _task-list;
    @include _paragraph;
  }
}

@mixin _task-list {

  ul[data-type=taskList] {
    list-style: none;
    padding: 0;

    input[type=checkbox] {
      cursor: pointer
    }

    li {
      display: flex;
      align-items: center
    }

    li > label {
      flex: 0 0 auto;
      margin-right: .5rem
    }
  }

}

@mixin _paragraph() {
  p {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
  }
}
