:host-context {
  display: contents;
}

.tip-control-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1px calc(var(--tip-header-padding) / 2);
  cursor: pointer;
  color: var(--tip-text-color);
  border: none;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;

  @media (pointer: fine) {
    &:hover, &:focus {
      color: var(--tip-active-color);
    }
  }

  &[disabled] {
    cursor: default;
    color: var(--tip-disabled-color);
  }
}

.content-wrapper {
  display: contents;
}


.tip-active {
  color: var(--tip-active-color);
}
