@forward "src/core" hide helpers;
@use "src/core";

@mixin import-theme() {
  :root {
    --tip-active-color: #06c;
    --tip-warn-color: #ff6666;
    --tip-border-color: lightgray;
    --tip-disabled-color: var(--tip-border-color);
    --tip-text-color: #000;
    --tip-background-color: #fff;
    --tip-header-height: 46px;
    --tip-header-padding: 0.5rem;
    --tip-overlay-color: rgba(0, 0, 0, .2);
    --tip-select-preview-height: 24px;
  }

  tip-editor, tip-side-by-side, tip-dialog, tip-popover {
    @include core.helpers;
  }
}
